<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<h2> <%= @book.title%></h2>

  <table id="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
 
  </tr>
  <tr>
    <td><%= @book.title %></td>
    <td><%= @book.author %></td>
    <td><%= @book.genre.name %></td>
    <td><form action="/books/<%=@book.id%>/edit" method="get">
      <input  type="submit" value="Edit Book" >
    </form></td>

    <td><form action="/books/<%=@book.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input  type="submit" value="Delete Book">
    </form></td>
  </tr>
</table>

  <form action="/books" method="get">
  <input class="big_button" type="submit" value="View List">
</form>
<form action="/genres" method="get">
  <input class="big_button" type="submit" value="View All Genres">
</form>

    